
body {
    font-family: Roboto, sans-serif;  letter-spacing:0.2mm;
    font-size:1rem; height: 100%;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }

.parent_top_navbar{ letter-spacing:0.2mm; z-index: 2; 
  box-shadow: 0 1px 4px 0 rgba(37, 37, 37, 0.1);
    display: flex; justify-content: space-between; max-height: 4rem;
    height: 65px; width: 100%; font-weight: 400; position: fixed; 
}

strong{color: #e20074;font-weight: 550;}

.top_child_navbar_eleL, .top_child_navbar_eleL_group{
    display: flex; align-items: center; margin-left: 40px;
}

.side_child_navbar_eleL{
  display: flex; align-items: center; margin-left: 30px;
}
.top_child_navbar_eleR{
    display: flex; align-items: center; margin-right: 40px; position: relative; 
}
.navbarR_1{margin: 10px;}
.top_child_navbar_eleR img{height: 35x; width: 35px;}


.username_sim{font-size: 0.6rem; color: grey; margin-top: 2px;}
.username_logo{font-size: 0.9rem; color: black;}


.content_box{
    display: flex;  width: 100%; height: 100%;
}
img {
  border-radius: 50%;
}
.parent_side_navbar{width: 17%; height: 100%;position: fixed; margin-top: 65px;
}

.child_side_navbar_top{padding: 30px;}


hr { border-top: 0.1px; color: rgb(175, 175, 175); }

.requestcount_head {float: left; align-items: center; 
  width: 30px; height: 20px; display: flex;
}
.requestcount {
    border-radius: 10px; float: right;
    width: 30px; height: 20px; display: flex;
    align-items: center; justify-content: center; 
    
}

.group_requests tr td span{
  border:1px solid grey; color: white; transition: 0.3s;color:grey;
}
.group_requests {width: 100%; font-weight: 600; color: grey; 
}
.group_requests td{color: grey;padding-bottom: 20px; }

.group_requests th{ color: grey; text-align: left; }


.group_requests tr:hover th{
  color: #e20074; background-color: white; transition: 0.3s; 
}

.group_requests tr:hover td span{
  background-color: #e20074; color: white; transition: 0.3s; border:1px solid #e20074;
}

.child_side_navbar_bottom{
  display: flex; justify-content: space-between;
  height: 50px; width: 100%; font-weight: 500;
}
.child_side_navbar_bottom p{margin-left: 10px; 
  display: flex; justify-content: space-between;}

.child_side_navbar_bottom:hover{
  background-color: #e20074; color: white; transition: 0.3s;
}

.wrapper{width: 83%; margin-left:17%; height: 100%; margin-top: 65px; display: block;position: fixed; float: right; background-color: #f2f4f8; overflow:hidden;}

.wrapper-content-main{ padding: 40px; overflow: hidden; }

.parent-wrapper-group-box{ height:100px; width: 100%; margin-top:20px;
  display: flex; overflow: auto;}

.parent-wrapper-group-box::-webkit-scrollbar {
    display: none;
}

.child-wrapper-group-box{ height: 80px; border-radius: 5px; background-color: white;
  display: flex; align-items: center; margin-right: 15px; width: 300px;
}
.navbarR_1-wrapper{ width: 100%; color: rgb(48, 48, 48); }


.navbarR_1-wrapper span{ display:block; width: 200px; overflow:hidden; }

.child-wrapper-group-box img{ margin-left:10px; margin-right:10px; height : 30px; width: 30px;}

.wrapper-content{
   display: flex; justify-content: space-between;
  height: 65px; width: 100%;margin-top: 20px;
}
.wrapper-content-table{ height: calc(100vh - 400px);
   background-color: white; width: 100%; border-radius: 5px; display: block; overflow: auto; }

.top_child_navbar_eleR button, .group_data button {
  padding: 8px 15px; background-color:#e20074; border-radius: 5px; font-weight: 500; margin-left: 5px;
  border: none; color:white; border: 1px solid #e20074; transition: 0.3s;
}

.top_child_navbar_eleR button:hover{color:#e20074; background-color: white; border: 1px solid #e20074; transition: 0.3s;
}

.group_data button{padding: 3px 15px; background-color: white; border: 1px solid #e20074; color: #e20074;  font-size: 0.7rem; margin-right: 0px; 
}
.group_data button:hover{ background-color: #e20074; border: 1px solid #e20074; color: white; transition: 0.3s;
}
.wrapper-table{
  width: 100%; background-color: white; height:auto; display: flex; justify-content: space-between; align-items: center;
}


.group_data th {
   font-weight: 600;  text-align: left;
   background-color: #f8fafb; padding: 15px;
  color: black; border-bottom: 1px solid #dfe3e7;  border-top: 1px solid #dfe3e7; }
.checkbox_default{  width: 14px;  height: 14px;  border: solid 1px #c3c7ca;  background-color: #fff;}

.overflow_text{
    width: 200px;
    display: inline-flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.group_data {border-collapse: collapse; width: 100%; font-size: 0.8rem; 
  margin-right: 35px; margin-left: 35px; overflow: scroll; 
}

.group_data td{padding: 10px 15px; border-bottom: 1px solid #dfe3e7;
}
.group_data img{
  height: 20px; width: 20px; top: 4px;position: relative;
}
.pageno{width: 100%; display: inline-flex; justify-content: flex-end;}

.pageno span{ display:inline-flex; align-items: center; padding-top: 20px; font-size: 0.75rem; color: grey; }


.pageno input{ width: 1.5rem; height: 1rem; margin: 0px 5px;}


.top_child_navbar_eleR input{padding: 8px; width: 200px; 
  padding-left: 1.2rem; border-radius: 3px; border: solid 1px #dee3e6;
  background-color: #fff;}


a{text-decoration: none;}

.bx{
  position: absolute;
  left: 5px;
  opacity: .5; 
}
.child_side_navbar_bottom img{height: 25px; width: 25px;}


.navbarR_1-wrapper_span{display: block;
  font-size: 0.5rem; color: rgb(168, 168, 168);
}


@media only screen and (max-width: 1140px){
  .mediagroup1 {
    display: none;
  }
  .parent_side_navbar{width: 20%; height: 100%;
  }
  .wrapper{width: 80%; margin-left:20%; }
}

@media only screen and (max-width: 1300px){
  .child_side_navbar_top{padding: 30px;}
  body {    font-size:0.9rem; 
  }
}
@media only screen and (max-width: 1200px){
  .child_side_navbar_top{padding: 20px;}
  .side_child_navbar_eleL{margin-left: 20px;
  }
}
@media only screen and (max-width: 1050px){

  .parent_side_navbar{width: 22%; height: 100%;
  }
  .wrapper{width: 78%; margin-left:22%; }
  .wrapper-content-main{ padding: 40px 30px; }
  .side_child_navbar_eleL{margin-left: 15px;
  }
}

@media only screen and (max-width:900px) {
  .mediagroup2 {
    display: none;
  }
  .top_child_navbar_eleR input{ width: 150px;  }
  .wrapper-content-table{ height: calc(100vh - 350px);}
}

@media only screen and (max-width:768px) {
  .top_child_navbar_eleR input{ width: 100px;  }
  .parent_side_navbar{width: 24%; height: 100%;  }
  .wrapper{width: 76%; margin-left:24%; }
  .overflow_text{    width: 150px;}
}



@media only screen and (max-width:678px) {

  .top_child_navbar_eleR input{ width: 80px;  }
  .overflow_text{    width: 120px;}
  body {    font-size:0.7rem; 
  }
  .bx{font-size: 0.9rem;}
  .username_sim{font-size: 0.5rem; }
.username_logo{font-size: 0.8rem;}
}

@media only screen and (max-width:640px) {

  .top_child_navbar_eleR input{ width: 150px;  }
  .overflow_text{    width: 200px;}
  .parent_side_navbar{display: none;}
  .wrapper{width: 100%;  margin-left:0%;  }
  .parent-wrapper-group-box{ height:80px;}  
  .child-wrapper-group-box{ height: 60px; }
}

@media only screen and (max-width:550px) {

  .top_child_navbar_eleR input{ width: 100px;  }
  .overflow_text{    width: 150px;}
  .navbarR_1-wrapper span{ display:block; width: 150px; font-size: 0.8rem;}

}

@media only screen and (max-width:500px) {
.top_child_navbar_eleR{margin-right: 10px;}
.top_child_navbar_eleL{margin-left: 10px;}
  .wrapper-content-main{ padding: 40px 10px; }
  .group_data {margin: 0px 10px;}
  .btnx{margin-right: 10px;}
  .top_child_navbar_eleL_group{margin-left: 10px;}
  .child-wrapper-group-box{ height: 60px; }
  .pageno span{ font-size: 0.65rem;}
}

@media only screen and (max-width:400px) {

  .top_child_navbar_eleR input{ width: 80px;  }
  .overflow_text{    width: 100px;}
  body {    font-size:0.6rem;   }
}

@media only screen and (max-width:340px) {
  .username_logo{font-size: 0.8rem}
  .top_child_navbar_eleR input{padding: 6px; padding-left: 1.2rem; }
  .overflow_text{    width: 60px;}  
  .top_child_navbar_eleR button {padding: 6px 6px; font-size: 0.8rem;  }
  .group_data {font-size: 0.75rem;}
  .group_data button{padding: 3px 10px;}
  .group_data td{padding:10px 10px;}
}


button, a, .child_side_navbar_top, .child_side_navbar_bottom, .top_child_navbar_eleL p,th ,td, .checkbox_default, input{
  cursor:pointer;
}

.recommended_group_textname{font-size: 0.7rem; color: rgb(168, 168, 168); margin-top: 5px;}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4a4a4a; opacity: 0.5;
}
.mediagroup0 img, .mediagroup1 img{margin-right: 8px;}
.mediagroup0 {color:#e20074;}
.mediagroup0, .mediagroup1{  text-decoration: underline;}



::-webkit-scrollbar {
  width: 2px; background: #dee3e6; 
}
::-webkit-scrollbar-thumb {
  background: #e20074;
}