
body {
    font-family: Roboto, sans-serif;
    font-size:1.3rem; height: 100%;
  }

a{text-decoration: none;}
  
.parent_top_navbar{
    display: flex; justify-content: space-between;
    height: 65px; width: 100%; font-weight: 400; position: fixed; border-bottom: 1px solid grey;
}

strong{color: #e20074;font-weight: 600;}

.top_child_navbar_eleL{
    display: flex; align-items: center; margin-left: 40px;
}
.top_child_navbar_eleR{
    display: flex; align-items: center; margin-right: 40px;
}
.navbarR_1{font-size: 10px; margin: 10px;}

.content_box{
    display: flex;  width: 100%; height: 100%;
}
img {
  border-radius: 50%;
}
.parent_side_navbar{width: 20%; height: 100%;position: fixed; margin-top: 65px;
}

.child_side_navbar_top{padding: 30px;}


hr { border-top: 0.1px; color: rgb(175, 175, 175); }


.requestcount {
    border-radius: 7.5px; background-color: #e20074; float: right;
    text-align: center; width: 30px; height: 15px; display: block;
}

.group_requests {width: 100%; font-size: 1rem; 
  font-weight: 600; margin: 0.5rem 0; color: grey;
}
.group_requests td{color: white;padding: 5px 0 5px 0px;}

.group_requests th{ color: grey; text-align: left;}

.child_side_navbar_bottom{
  display: flex; justify-content: space-between;
  height: 60px; width: 100%; font-weight: 500; 
}
.child_side_navbar_bottom p{margin-left: 10px;}

.wrapper{width: 80%; margin-left:20%; height: 100%; margin-top: 65px; display: block;position: fixed; float: right; background-color: #f2f4f8; overflow: auto;}

.wrapper-content-main{ padding: 40px; overflow: hidden; }

.parent-wrapper-group-box{ height:100px; width: 100%;
  display: flex; overflow: auto;}

.child-wrapper-group-box{border:1px solid rgb(199, 199, 199); height: 80px; border-radius: 5px; background-color: white;
  display: flex; align-items: center; margin-right: 15px; width: 300px;
}
.navbarR_1-wrapper{ width: 100%;}
.navbarR_1-wrapper span{display:block; width: 200px; height: 20px; color: rgb(48, 48, 48); overflow: hidden; font-size: 1.2rem;}

.wrapper-content{
   display: flex; justify-content: space-between;
  height: 65px; width: 100%;margin-top: 20px;
}
.wrapper-content-table{ height: 100%; background-color: white; width: 100%; border-radius: 5px; display: block;}

.top_child_navbar_eleR button, .group_data button {
  padding: 10px 10px; background-color:#e20074; border-radius: 5px; font-weight: 600; margin-left: 5px;
  border: none; color:white;
}
.group_data button{
  background-color: white; border: 1px solid black; color: grey;
}
.wrapper-table{
  width: 100%; background-color: white; height:auto; display: flex; justify-content: space-between; align-items: center;
}
.group_data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(190, 190, 190);
  color: white;
}
.group_data {border-collapse: collapse; width: 100%; margin-right: 35px; margin-left: 35px; overflow: scroll;
}

.group_data td, .group_data th {padding: 20px; text-align: center; border: 1px solid rgb(238, 238, 238);
}

.pageno{width: 100%; display: flex; justify-content: flex-end;}

.pageno span{display: block; padding:40px; }
.pageno input{ width: 2rem; height: 2rem;}


.top_child_navbar_eleR input{padding: 8px; width: 200px;
}

@media only screen and (max-width:640px) {
  .parent_side_navbar{display: none;}
  .wrapper{width: 100%;  margin-left:0%;  }
  .top_child_navbar_eleR input{padding: 8px; width: 100px;  }
}

@media only screen and (max-width:900px) {
  .mediagroup2 {
    display: none;
  }
}

@media only screen and (max-width: 1120px){
  .mediagroup1 {
    display: none;
  }
}

